.card-item {
  display: flex;
  flex-direction: column;
  color: #034b5091;
  padding: 0 1px;
  margin: 1rem;
  max-width: 80%;
  height: 15vh;
  width: 18vw;

  font-weight: 800;

  border: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 15px;
  overflow: hidden;

}
.name-title{
  margin-right: 1vw;
}
.status {
    display: block;
  }
  
.info{
  font-weight: 400;
  font-size: small;
  color: blue;
  .desc{
    color: black;
    font-size: small;
  }
}

  img{
  width: 100%;
}

